.inp_right {
    text-align: right;
}

.dashboard-view {
    margin-left:0px;
    padding: 30px 100px 0px 100px;
    margin-left:0px;
}
.task_desc {
    width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid rgb(221, 221, 221); padding: 10px; display: block;
}
.title-color {
    color: #36a65a;
    font-weight: 600;
}
.table.dashboard--table,
.table.dashboard--table tbody td {
    border-color: #3c8cbc;
}
.table.dashboard--table tbody td {
    vertical-align: middle;
}
.table.dashboard--table thead th {
    border-right: 1px solid #3c8cbc;
    border-left-color: #3c8cbc;
    border-bottom-width: 0px;
}
.table.dashboard--table thead th:nth-child(5),
.table.dashboard--table tbody td:nth-child(5) {
    border-right: transparent;
}
.ml-pos-84 {
    margin-left: 84px;
}
.ml-neg-84 {
    margin-left: -84px;
}